.icon-svg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.settings{
    background-image: url("../assests/icons/sett.svg");
}
.play{
    background-image: url("../assests/icons/play.svg");
}
.pause{
    background-image: url("../assests/icons/pause.svg");
}
.stop{
    background-image: url("../assests/icons/stop.svg");
}
.backward{
    background-image: url("../assests/icons/backward.svg");
}
.backward-1{
    background-image: url("../assests/icons/backward-1.svg");
}
.backward-5{
    background-image: url("../assests/icons/backward-5.svg");
}
.backward-60{
    background-image: url("../assests/icons/backward-60.svg");
}
.forward{
    background-image: url("../assests/icons/forward.svg");
}
.forward-1{
    background-image: url("../assests/icons/forward-1.svg");
}
.forward-5{
    background-image: url("../assests/icons/forward-5.svg");
}
.forward-60{
    background-image: url("../assests/icons/forward-60.svg");
}