<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../styles/tailwind.css" rel="stylesheet">
        <script src="../app/lib/jquery.min.js"></script>
        <script src="../app/main.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1 class="title">
              Reproductor
            </h1>
            <div class="columns">
              <div class="column">
                <button disabled id="play" class="button is-primary">Play</button>
              </div>
            </div>
            <div class="columns">
              <div class="column is-1">
                <h4>video</h4>
              </div>
              <div class="column is-2">
                  <button id="open" class="button is-primary">Open Window</button>
              </div>
              <div class="column is-2">
                <button disabled id="full" class="button is-primary">Full Screen</button>
            </div>
              <div class="column is-4">
                Choose an audio device
                <div class="field">
                  <div class="control">
                    <div class="select is-primary is-small">
                      <select id='video-audio'>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-1">
                <h4>Audio</h4>
              </div>
              <div class="column is-4">
                Choose an audio device
                <div class="field">
                  <div class="control">
                    <div class="select is-primary is-small">
                      <select id='eng-audio'>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <audio controls id="aud">
                    <source src="../assests/media/1 - ESP.m4a">
                    Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
    </body>
</html>