<!DOCTYPE html>
<html lang="en" id="video">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video</title>
    <link rel="stylesheet" href="static/css/base.css">
  </head>
  <body>
        <video controls id="vid" class="is-16by9">
            <source src="../assests/media/1 - ENG.mp4">>
            Your browser does not support the video tag.
        </video>
  </body>
</html>